In [ ]:
#| hide
%load_ext autoreload
%autoreload 2

In [ ]:
#| hide
from pyfipe.core import *

# pyfipe

> A python package to make requests to fipe api

## Install

```sh
pip install pyfipe
```

## How to use

In [ ]:
import pandas as pd

In [ ]:
from pyfipe.core import ConsultaFipe
from pyfipe.tabelas import consulta_tabela_referencia, consulta_tabela_marcas, consulta_tabela_modelos

In [ ]:
fipe = ConsultaFipe(
    mes = 'agosto/2022',
    tipo_veiculo = 'carro',
    marca = 'VW - VolksWagen',
    modelo = 'T-Cross Sense 1.0 TSI Flex 5p Aut.',
    ano_modelo = 2021,
    combustivel = 'Gasolina'
)

In [ ]:
fipe.preco()

,Valor,Marca,Modelo,AnoModelo,Combustivel,CodigoFipe,MesReferencia,Autenticacao,TipoVeiculo,SiglaCombustivel,DataConsulta
0,"R$ 101.120,00",VW - VolksWagen,T-Cross Sense 1.0 TSI Flex 5p Aut.,2021,Gasolina,005520-4,agosto de 2022,f4wq6m4pj4djf,1,G,"quarta-feira, 24 de agosto de 2022 12:04"

In [ ]:
meses = ['janeiro/2022', 'fevereiro/2022', 'mar√ßo/2022', 'abril/2022', 'maio/2022', 'junho/2022', 'julho/2022', 'agosto/2022']

df = pd.DataFrame()
for mes in meses:
    fipe.mes = mes
    fipe.update_codigo_tabela_referencia()
    df = pd.concat([df, fipe.preco()])

df

,Valor,Marca,Modelo,AnoModelo,Combustivel,CodigoFipe,MesReferencia,Autenticacao,TipoVeiculo,SiglaCombustivel,DataConsulta
0,"R$ 94.854,00",VW - VolksWagen,T-Cross Sense 1.0 TSI Flex 5p Aut.,2021,Gasolina,005520-4,janeiro de 2022,cg6gzjs2n29fx,1,G,"quarta-feira, 24 de agosto de 2022 12:04"
0,"R$ 97.518,00",VW - VolksWagen,T-Cross Sense 1.0 TSI Flex 5p Aut.,2021,Gasolina,005520-4,fevereiro de 2022,ch6p797h88mfx,1,G,"quarta-feira, 24 de agosto de 2022 12:04"
0,"R$ 101.478,00",VW - VolksWagen,T-Cross Sense 1.0 TSI Flex 5p Aut.,2021,Gasolina,005520-4,mar√ßo de 2022,f49rk6kznldjf,1,G,"quarta-feira, 24 de agosto de 2022 12:04"
0,"R$ 102.808,00",VW - VolksWagen,T-Cross Sense 1.0 TSI Flex 5p Aut.,2021,Gasolina,005520-4,abril de 2022,f6v25c4673djf,1,G,"quarta-feira, 24 de agosto de 2022 12:04"
0,"R$ 101.988,00",VW - VolksWagen,T-Cross Sense 1.0 TSI Flex 5p Aut.,2021,Gasolina,005520-4,maio de 2022,f5w868197ydjf,1,G,"quarta-feira, 24 de agosto de 2022 12:04"
0,"R$ 101.854,00",VW - VolksWagen,T-Cross Sense 1.0 TSI Flex 5p Aut.,2021,Gasolina,005520-4,junho de 2022,f5rd7r84hvdjf,1,G,"quarta-feira, 24 de agosto de 2022 12:04"
0,"R$ 102.021,00",VW - VolksWagen,T-Cross Sense 1.0 TSI Flex 5p Aut.,2021,Gasolina,005520-4,julho de 2022,f5yhd01kc3djf,1,G,"quarta-feira, 24 de agosto de 2022 12:04"
0,"R$ 101.120,00",VW - VolksWagen,T-Cross Sense 1.0 TSI Flex 5p Aut.,2021,Gasolina,005520-4,agosto de 2022,f4wq6m4pj4djf,1,G,"quarta-feira, 24 de agosto de 2022 12:04"

Caso queira consultar apenas a tabela de refer√™ncia da fipe:

In [ ]:
consulta_tabela_referencia()

     codigo_mes             mes
0           288     agosto/2022
1           287      julho/2022
2           286      junho/2022
3           285       maio/2022
4           284      abril/2022
..          ...             ...
255          69       maio/2001
256          68      abril/2001
257          67      mar√ßo/2001
258          63  fevereiro/2001
259          62    janeiro/2001

[260 rows x 2 columns]

Caso n√£o saiba qual o c√≥digo da marca do seu carro, poder√° fazer uma busca na tabela de marcas:

In [ ]:
tabela_marcas = consulta_tabela_marcas(mes='agosto/2022', tipo_veiculo='carro')
tabela_marcas

              marca codigo_marca          mes
0             Acura            1  agosto/2022
1            Agrale            2  agosto/2022
2        Alfa Romeo            3  agosto/2022
3            AM Gen            4  agosto/2022
4       Asia Motors            5  agosto/2022
..              ...          ...          ...
87          Troller           57  agosto/2022
88            Volvo           58  agosto/2022
89  VW - VolksWagen           59  agosto/2022
90             Wake          163  agosto/2022
91             Walk          120  agosto/2022

[92 rows x 3 columns]

In [ ]:
tabela_marcas[fipe.tabela_marcas['marca'].str.contains('vw', case=False)]

              marca codigo_marca          mes
89  VW - VolksWagen           59  agosto/2022

Caso n√£o saiba qual o c√≥digo e descri√ß√£o do seu modelo, pode consultar na tabela de modelos

In [ ]:
tabela_modelos = consulta_tabela_modelos(mes='agosto/2022', tipo_veiculo='carro', codigo_marca=59)
tabela_modelos

:

In [ ]:
tabela_modelos[tabela_modelos['modelo'].str.contains('t-cross', case=False)]

:

Caso n√£o saiba qual o Ano Modelo, pode consultar na tabela de Ano Modelo.

In [ ]:
tabela_ano_modelo = consulta_tabela_ano_modelo(mes='agosto/2022', tipo_veiculo='carro', codigo_marca=21, codigo_modelo=7540)
tabela_ano_modelo

: